.sidepanel {
    position: fixed;
    top: 226px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 340px;
    z-index: 2;
    &__link {
        svg path {
            fill: $main_color;
            &:hover {
                fill: #FF5F5F;
            }
        }
    }
    &__divider {
        height: 70px;
        width: 2px;
        background-color: $main_color;
    }
    &__text {
        width: 25px;
        height: 150px;
        color: $main_color;
        span {
            display: block;
            height: 25px;
            width: 150px;
            transform: rotate(-90deg) translate(-30%, -250%);
        }
    }  
}
